services:
  mysql:
    image: mysql:latest
    container_name: mysql-items
    ports:
      - "8088:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=maxmule
      - MYSQL_DATABASE=itemsDatabase
    volumes:
      - ./mysql/db:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 30s
      timeout: 1s
      retries: 5
      start_period: 30s
  
  api:
    depends_on:
      mysql:
        condition: service_healthy
    container_name: fastapi-items
    platform: linux/x86_64
    build:
      context: ./fastapi
      dockerfile: Dockerfile
    volumes:
      - ./fastapi:/app
    ports:
      - 8000:80